html,
body {
    height: 100%;
}


body{
    font-size: 18px;
    @extend %quicksand-400;
    color: #000000;
    background-color: $foncolor;
}
.container{
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo {
    width: 123px;
    height: 120px;

    &__img {
        margin: 0 auto;
    }
}

