@media (max-width: 1350px) {
    .vouchers-slider {
        &__items {
            width: 100%;
            padding-left: 55px;
        }
    }
    .guides{
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline: 15px;
        }
        &__items{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows:  repeat(2,1fr);
            justify-content: center;
            align-content: center; 
            gap: 30px;
        }
    }
    .reviews-slider {
        padding: 50px 0 50px;

        &__item {
            width: 97% !important; 
            padding: 20px 15px;
        }
        &__rating-box{
            width: 97%;
        }
    }
    .jq-ry-container{
        padding-right: 20px;
    }
    
}


@media (max-width: 1200px) {
    .header {

        .menu__list-item+.menu__list-item {
            margin-left: 50px;
        }
    }

    .vouchers-slider {
        &__img-box {
            width: 270px;
        }
    }

}


@media (max-width: 1100px) {
    .about-us {

        &__items {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            height: 330px;
        }
    }

    .slick-1-prev {
        left: 45%;
    }

    .slick-1-next {
        left: 55%;
    }
}

@media (max-width: 1020px) {
    .header {
        &__top {
            margin-left: 0;
        }

        &__btn {
            width: 135px;
        }
    }

    .header-content {
        &__title {
            font-size: 56px;
            max-width: 576px;
        }

        &__text {
            max-width: 576px;
        }
    }

    .gallery-slider {
        &__wrapper{
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 950px) {
    .vouchers-slider {
        &__title {
            font-size: 42px;
        }

        &__item-img {
            width: 220px;
        }
    }
        
    .reviews-slider{
        &__title{
            font-size: 34px;
        }
    }

}

@media (max-width: 870px) {
    .header {
        background-image: none;
        background-color: #B4CAD7;

        &__top {
            position: relative;
            margin-bottom: 81px;
            flex-wrap: wrap;
        }

        &__btn {
            position: absolute;
            right: 80px;
            z-index: 10;
            border: 1px solid #000;
        }

        .menu__list-item+.menu__list-item {
            margin-left: 0;
        }
        .container {
            padding: 0;
        }
    }

    .logo {
        z-index: 10;
    }

    .menu {
        order: 1;

        .menu__list {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-top: 150px;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            transition: all .3s;
            background-color: #fff;
            transform: translateY(-200%);
            background-color: $accent;

            &.menu__list--active {
                transform: translateY(0%);
                transition: all .3s;
            }
        }

        &__list-item {
            width: 100%;
            text-align: center;
            padding: 15px 0;
        }

        &__btn {
            display: block;
            width: 45px;
            height: 40px;
            margin-right: 15px;
            background: transparent;
            border: none;
            position: relative;
            cursor: pointer;
            z-index: 10;


            &.menu__btn--open span:nth-child(1) {
                transform: rotate(45deg);
                top: 17px;
                z-index: 5;
            }

            &.menu__btn--open span:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &.menu__btn--open span:nth-child(3) {
                transform: rotate(-45deg);
                top: 17px;
                z-index: 5;
            }

            & span {
                display: block;
                position: absolute;
                width: 40px;
                height: 3px;
                background-color: #000;
                opacity: 1;
                transform: rotate(0deg);
                transition: 0.5s;
                z-index: 10;
                top: 0;
            }

            & span:nth-child(1) {
                top: 13px;
            }

            & span:nth-child(2) {
                top: 28px;
            }

            & span:nth-child(3) {
                bottom: 2px;
            }
        }

        &__item-link {
            color: #fff;
        }

        &__list-item:hover {
            border-bottom: 2px solid #B4CAD7;
        }

        .menu__btn.menu__btn--open span:nth-child(1) {
            transform: rotate(45deg);
            top: 17px;
            z-index: 5;
        }

        .menu__btn.menu__btn--open span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }

        .menu__btn.menu__btn--open span:nth-child(3) {
            transform: rotate(-45deg);
            top: 17px;
            z-index: 5;
        }

    }

    .header-content {
        padding-inline: 15px;

        &__inner {
            margin-bottom: 70px;
        }

        &__search {
            width: auto;
        }

        &__form {
            flex-direction: column;
            gap: 20px;
        }

        &__form-search,
        &__form-data {
            width: 100%;
        }

        &__form-search::after,
        &__form-data::after {
            display: none;
        }

        &__input-search,
        &__input-data {
            border: none;
        }

        &__btn-search {
            width: 100%;
        }

        &__btn-search::before {
            right: 50%;
        }

        &__link {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    .gallery-slider{
        padding-bottom: 60px;
    }
    .slick-2-next, 
    .slick-2-prev{
        bottom: 0;
    }
    .slick-2-prev{
        left: 43%;
    }
    .guides{
        padding: 40px 0;
        &__title{
            font-size: 34px;
            margin-bottom: 50px;
        }
    }

    .slick-3-prev{
        left: 42%;
    }
    .slick-3-next {
        left: 54%;
    }

}

@media (max-width: 778px) {
    .vouchers-slider {
        &__title {
            font-size: 34px;
        }

        &__text {
            font-size: 16px;
        }

        &__item-img {
            width: 100%;
        }
    }
}

@media (max-width: 700px) {
    .login-popup {
        width: 400px;

        &__inner {
            height: 613px;
        }

        &__items {
            flex-direction: column;
            padding-inline: 15px;
        }

        &__item-form {
            margin-bottom: 20px;
            border-bottom: 1px solid #000;
        }

        &__subtitle {
            margin-bottom: 20px;
        }
    }

    .popup {
        &__form {
            width: 100%;
        }

        &__form::after {
            display: none;
        }

        &__btn {
            width: 100%;
        }
    }

    .popup-social {
        text-align: center;

        &__list {
            flex-direction: row;
            justify-content: space-between;
        }

        &__item {
            width: 100px;
        }
    }

    .registration-popup {
        width: 100%;

        &__inner {
            height: 100%;
        }

        &__items {
            flex-direction: column;
            padding-inline: 15px;
            padding-bottom: 20px;
        }

        &__item-form {
            max-width: 100%;
        }

        &__input {
            width: 100%;
        }

        &__text-box {
            margin-bottom: 20px;
        }
    }

    .footer {
        padding: 30px 15px;

        &__inner {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        &__title {
            text-align: center;
            font-size: 18px;
        }
    }

    .about-us {
        padding: 60px 20px;

        &__title {
            font-size: 40px;
        }

        &__item {
            height: 280px;
            padding: 120px 20px 0;
        }

        &__item::after {
            top: 20px;
            width: 90px;
            height: 90px;
        }
    }

    .gallery-slider{
        padding-bottom: 0;
        &__title{
            font-size: 34px;
        }
        &__text{
            font-size: 16px;
        }
        &__items{
            padding-left: 0;
        }
        
    }
    .slick-2-next, 
    .slick-2-prev{
        bottom: 50px;
    }
    .slick-2-next{
        left: 55%;
    }
    .guides{
        &__items{
            grid-template-columns: repeat(1,1fr);
        }
        &__item{
            margin: 0 auto;
        }
    }
    .reviews-slider{
        &__item{
            width: 100% !important;
        }
    }
}

@media (max-width: 670px) {
    .header-content {
        &__title {
            font-size: 48px;
            max-width: 100%;
        }

        &__text {
            max-width: 100%;
        }
    }

    .vouchers-slider {
        &__item-img {
            width: 83%;
        }
    }
}

@media (max-width: 550px) {
    .vouchers-slider {
        &__inner {
            padding-inline: 15px;
        }

        &__title {
            font-size: 28px;
        }

        &__text {
            font-size: 14px;
        }

        &__items {
            padding-left: 0;
        }

        &__item-img {
            width: 100%;
        }
    }

    .slick-1-prev {
        left: 42%;
    }

    .slick-slide {
        display: flex !important;
        justify-content: center;
    }
    .slick-2-prev {
        left: 38%;
    }
    .slick-2-next {
        left: 59%;
    }
    .gallery-slider{
        &__text{
            margin-bottom: 20px;
        }
    }
    .guides{
        &__title{
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
    .reviews-slider{
        &__title{
            font-size: 28px;
        }
    }
    .slick-3-prev {
        left: 38%;
    }
    .slick-3-next {
        left: 57%;
    }
}

@media (max-width: 470px) {
    .header {
        &__btn {
            width: 93px;
        }
    }

    .header-content {
        &__title {
            font-size: 34px;
        }

        &__btn-search::before {
            right: 40%;
        }

        &__input-search {
            width: 100%;
        }

        &__form-search,
        &__form-data {
            padding-left: 0;
        }

        &__form-search::before,
        &__form-data::before {
            display: none;
        }
    }

    .logo {
        width: 95px;
        height: 95px;
    }

    .popup {
        &__title {
            padding: 20px 40px 11px;
        }
    }

    .registration-popup {
        &__subtitle {
            margin-bottom: 20px;
        }
    }

    .slick-1-prev {
        left: 38%;
    }

    .slick-1-next {
        left: 59%;
    }
    
}

@media (max-width: 420px) {
    .popup {
        &__title {
            padding: 20px 40px 11px;
        }

        &__btn-close {
            top: 20px;
        }

        &__btn {
            width: 100%;
        }

        &__form {
            width: 100%;
        }
    }

    .login-popup {
        width: 100%;

        &__items {
            padding-top: 20px;
        }

        &__input {
            width: 100%;
        }

        &__item-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .about-us {
        &__item {
            padding-top: 84px;
        }

        &__item::after {
            width: 60px;
            height: 60px;
        }
    }
    .guides{
        &__item {
            width: 270px;
        }
        &__img-box{
            height: 356px;
        }
    }
    .vouchers-slider {
        &__text{
            margin-bottom: 20px;
        }
        &__item {
            margin-right: 0;
        }
        &__items {
            padding-bottom: 90px;
        }
    }
}
@media (max-width: 350px){
    .vouchers-slider{
        .slick-track{
            left: 22px;
        }
        &__item-img{
            width: 91%;
        }
    }
    .slick-3-prev {
        left: 34%;
    }
    .reviews-slider{
        &__item{
            height: 320px;
        }
    }
}
