
@media (max-width: 1250px) {
    .header-top {

        .menu__list-item+.menu__list-item {
            margin-left: 50px;
        }
    }

    .guides {
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;
            align-content: center;
            gap: 30px;
        }
    }

    .jq-ry-container {
        padding-right: 20px;
    }

}


@media (max-width: 1100px) {
    .header-top {
        &__btn {
            width: 135px;
        }
    }

    .about-us {

        &__items {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            height: 330px;
        }
    }

    .vouchers-slider {
        &__item-btn {
            width: 98%;
        }
    }
}

@media (max-width: 1020px) {
    .header-top {
        &__inner {
            margin-left: 0;
        }
    }

    .gallery-slider {
        &__wrapper {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 950px) {

    .header {
        .container {
            padding: 0;
        }
    }

    .header-top {
        background-image: none;

        &__inner {
            position: relative;
            flex-wrap: wrap;
            padding-inline: 15px;
        }

        &__btn {
            position: absolute;
            right: 90px;
            z-index: 15;
            border: 1px solid #000;
        }

        .menu__list-item+.menu__list-item {
            margin-left: 0;
        }

        .container {
            padding: 0;
        }
    }

    .logo {
        z-index: 16;
    }

    .menu {
        order: 1;

        .menu__list {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-top: 150px;
            flex-direction: column;
            align-items: center;
            z-index: 15;
            transition: all .3s;
            background-color: #fff;
            transform: translateY(-200%);
            background-color: $accent;

            &.menu__list--active {
                transform: translateY(0%);
                transition: all .3s;
            }
        }

        &__list-item {
            width: 100%;
            text-align: center;
            padding: 15px 0;
        }

        &__btn {
            display: block;
            width: 40px;
            height: 34px;
            margin-right: 15px;
            background: transparent;
            border: none;
            position: relative;
            cursor: pointer;
            z-index: 16;


            &.menu__btn--open span:nth-child(1) {
                transform: rotate(45deg);
                top: 17px;
                z-index: 16;
            }

            &.menu__btn--open span:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &.menu__btn--open span:nth-child(3) {
                transform: rotate(-45deg);
                top: 17px;
                z-index: 16;
            }

            & span {
                display: block;
                position: absolute;
                width: 40px;
                height: 3px;
                background-color: #000;
                opacity: 1;
                transform: rotate(0deg);
                transition: 0.5s;
                z-index: 20;
                top: 0;
            }

            & span:nth-child(1) {
                top: 11px;
            }

            & span:nth-child(2) {
                top: 24px;
            }

            & span:nth-child(3) {
                bottom: 2px;
            }
        }

        &__item-link {
            color: #fff;
        }

        &__list-item:hover {
            border-bottom: 2px solid #B4CAD7;
        }

        .menu__btn.menu__btn--open span:nth-child(1) {
            transform: rotate(45deg);
            top: 17px;
            z-index: 20;
        }

        .menu__btn.menu__btn--open span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }

        .menu__btn.menu__btn--open span:nth-child(3) {
            transform: rotate(-45deg);
            top: 17px;
            z-index: 20;
        }

    }

    .header-content {
        &__inner {
            padding-inline: 15px;
        }
    }

}

@media (max-width: 870px) {
    .header {
        &__img {
            max-width: clamp(60%, 210vw, 300%);
        }
    }

    .header-content {
        padding-inline: 15px;

        &__inner {
            margin-bottom: 70px;
        }

        &__search {
            width: auto;
        }

        &__form {
            max-width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        &__form-search,
        &__form-data {
            width: 100%;
        }

        &__form-search::after,
        &__form-data::after {
            display: none;
        }

        &__input-search,
        &__input-data {
            border: none;
            max-width: 100%;
        }

        &__btn-search {
            width: 100%;
        }

        &__btn-search::before {
            right: 50%;
        }

        &__link {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    .gallery-slider {
        padding-bottom: 60px;
    }


    .guides {
        padding: 40px 0;

        &__title {
            margin-bottom: 50px;
        }
    }

}

@media (max-width: 768px) {
    .swiper-slide {
        width: 300px !important;
    }
}



@media (max-width: 700px) {

    .login-popup {
        left: 48%;

        &__inner {
            height: auto;
        }

        &__items {
            flex-direction: column;
            padding-inline: 15px;
        }

        &__item-form {
            margin-bottom: 20px;
            border-bottom: 1px solid #000;
        }

        &__input {
            width: 100%;
        }

        &__input-email {
            margin-bottom: 10px;
        }

        &__subtitle {
            margin-bottom: 20px;
        }
    }

    .popup {
        &__form {
            width: 100%;
        }

        &__form::after {
            display: none;
        }

        &__btn {
            width: 100%;
        }

        &__btn-close {
            top: 40px;
        }
    }

    .popup-social {
        text-align: center;

        &__list {
            flex-direction: row;
            justify-content: space-between;
        }

        &__item {
            width: 100px;
        }
    }

    .registration-popup {

        &__inner {
            height: 100%;
        }

        &__items {
            flex-direction: column;
            padding-inline: 15px;
            padding-bottom: 20px;
        }

        &__item-form {
            max-width: 100%;
        }

        &__input {
            width: 100%;
        }

        &__text-box {
            margin-bottom: 20px;
        }
    }

    .footer {
        padding: 30px 15px;

        &__inner {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        &__title {
            text-align: center;
            font-size: 18px;
        }
    }

    .about-us {
        padding: 60px 20px;

        &__item {
            height: 280px;
            padding: 120px 20px 0;
        }

        &__item::after {
            top: 20px;
            width: 90px;
            height: 90px;
        }
    }

    .gallery-slider {
        padding-bottom: 0;

        &__text {
            font-size: 16px;
        }

        &__items {
            padding-left: 0;
        }

    }
    .reviews-slider{
        padding-top: 50px;
        &__slider{
            justify-content: center;
            padding-bottom: 50px;
        }
        &__rating-box{
            gap: 10px;
        }
        .slick-slide{
            margin-right: 0;
        }
    }
   
}


@media (max-width: 550px) {

    .gallery-slider {

        &__text {
            margin-bottom: 20px;
        }
    }

    .guides {
        &__title {
            margin-bottom: 20px;
        }

        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
        &__link {
            display: block;
            width: 100%;
        }
        &__item-language{
            font-size: 15px;
        }
    }
    .reviews-slider{
        &__text{
            font-size: 16px;
        }
    }

}
@media (max-width: 480px) {
    .swiper-slide {
        width: 100% !important;
    }
    .header {
        &__img {
            max-width: 284vw;
        }
    }


    .header-top {
        &__btn {
            width: 93px;
        }
    }

    .header-content {
        &__text {
            font-size: 15px;
        }

        &__btn-search::before {
            right: 40%;
        }

        &__input-search {
            width: 100%;
        }

        &__form-search,
        &__form-data {
            padding-left: 0;
        }

        &__form-search::before,
        &__form-data::before {
            display: none;
        }
    }

    .logo {
        width: 95px;
        height: 95px;
    }

    .popup {
        &__title {
            padding: 20px 40px 11px;
        }

        &__btn-close {
            top: 22px;
        }
    }

    .registration-popup {

        &__subtitle {
            margin-bottom: 20px;
        }
    }

    .popup {
        &__title {
            padding: 20px 40px 11px;
        }

        &__btn-close {
            top: 20px;
        }

        &__btn {
            width: 100%;
        }

        &__form {
            width: 100%;
        }
    }

}


@media (max-width: 420px) {

    .about-us {
        &__item {
            padding-top: 110px;
            height: 300px;
            font-size: 16px;
        }

        &__item::after {
            width: 60px;
            height: 60px;
        }

        &__text-top {
            font-size: 16px;
            margin-bottom: 20px;
        }

        &__subtitle {
            font-size: 20px;
        }
    }
}
